<h2 class="title">Welcome to the Times Article Search</h2>

<p class="description">Search by keyword on New York Times articles dating as far back as 1851</p>

<div class="notification">
  <%= flash[:errors] %>
</div>

<div class="past-searches">
  <h2>Past Searches</h2>
  <% if @searches %>
    <% @searches.each do |search| %>
      <p>
        Key Word: <%= link_to "#{search.keyword}", search_index_path(search: { q: search.keyword }), method: :post %>
        <br>
        Search Count: <%= search.count %>
      </p>
    <% end %>
  <% end %>
</div>

<div class="search">
  <div class="search-bar">
    <%= form_for :search, url: search_index_path, method: :post do |f| %>
      <%= f.text_field :q, placeholder: "Enter Key Word", class: "search-box" %>
      <%= f.submit "Search", class: "search-button" %>
    <% end %>
  </div>
</div>

<div class="results">
  <% if @articles %>
    <% @articles.each do |article| %>
      <h3><%= article.headline %></h3>
      <%= link_to "Link", article.link %>
      <p>Lead Paragraph: <%= article.lead_paragraph %></p>
      <p>Article Type: <%= article.article_type %></p>
      <p>Word Count: <%= article.word_count %></p>
    <% end %>
  <% end %>
</div>
